@import url(./ressources.css);
*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--primary-font);
  cursor: crosshair;
}

#full-page {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#full-page::-webkit-scrollbar {
  display: none;
}

.section {
  scroll-snap-align: start;
  overflow-y: scroll;
  background-color: black;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-right: 15rem;
}
