@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");

@font-face {
  font-family: "Quebec";
  src: url(../assets/fonts/Quebec-Trial.otf);
}

:root {
  /* colors */
  --bg-color: black;
  --primary-color: white;
  --secondary-color: #dfc69c;
  --accent-color: #1e1b1a;
  --accent-b-color: #ffffff;

  /* fonts */
  --primary-font: "Source Code Pro", monospace;
  --secondary-font: "Quebec";
  --ticket-font: "Stardos Stencil", cursive;
  --heading-font: "Source Sans Pro", sans-serif;

  /* images */
  --landing-background: url(../assets/img/landingpage-background.png);
}
/* animations */
@keyframes slideIn {
  from {
    left: -10%;
    opacity: 0%;
  }
  to {
    left: 0%;
    opacity: 95%;
  }
}

@keyframes slideDown {
  from {
    top: 18%;
    opacity: 0%;
  }
  to {
    top: 22%;
    opacity: 95%;
  }
}
