@import url(./ressources.css);
.section1 {
  background-color: black;
  cursor: crosshair;
}
.bg {
  background: var(--landing-background) no-repeat;
  background-size: cover;
  height: 100%;
  width: 50rem;
  z-index: -1;
}
.ticket {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: var(--ticket-font);
  padding: 0.3rem 0.6rem 0.1rem 0.6rem;
  letter-spacing: 0.1em;
  position: absolute;
  top: 0.5rem;
  left: 0%;
  transform: rotateZ(90deg);
  /*transform-origin: left bottom;
  transition: color 2s;
  transition: background-color 1.8s; */
  /* animation: slideIn 1.2s; */
  user-select: none;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left bottom;
  -webkit-animation: fall 4s;
  animation: tickectIn 2s ease-in, fall 5s;
  animation-delay: 0s, 1.999s;
}
.ticket:hover {
  color: var(--accent-color);
  background-color: var(--primary-color);
  cursor: crosshair;
  box-shadow: 4px -4px 10px rgba(0, 0, 0, 0.096);
  transition: box-shadow 1s;
  transition: color 2s;
  transition: background-color 1.8s;
}
.content {
  position: absolute;
  top: 14%;
  right: 0%;
  width: 55%;
  height: 60%;
  margin-right: 15rem;
  animation: slideDown 0.7s;
}

.content .heading {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: calc(2.95rem + 7vw);
  letter-spacing: 0.17em;
  line-height: 0.9;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 4.5rem;
  text-shadow: 14px 14px #1e1b1a85;
  transition: text-shadow 1.2s;
  user-select: none;
}
.content .heading:hover {
  text-shadow: 18px 27px #42404070;
  transition: color 1s;
  transition: text-shadow 1s;
  cursor: crosshair;
}
.content h2 {
  font-family: var(--primary-font);
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--primary-color);
  padding-left: 10px;
  margin-bottom: 1rem;
  user-select: none;
}
/* Scroll down style */
a {
  padding-top: 60px;
}
a span {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}
a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
